.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}

td, th {
  padding: 1px 4px;
}

tr:nth-child(even) {
  background-color: lightgrey
}

tr:nth-child(odd) {
  background-color: white}

body {background-color:lightgreen}